:root {
	--main-hl: rgb(154, 98, 255);
	--light-hl: rgb(186, 146, 255);
	--trans-hl: rgba(186, 146, 255, 0.2);
}

html, body {
  background: #191919;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3 {
  margin: 20px auto 10px auto;
  color: #eee;
  font-size: 30px;
  font-weight: 100;
}

h3::after {
	content: 'v2.5';
	margin: 5px;
	background: var(--main-hl);
	color: #222;
	padding: 6px 8px 2px 8px;
	border-radius: 1px;
}
  
section {
  padding: 10px;
  margin: 10px;
  border: 1px solid #555;
  background: #292929;
  border-radius: 3px;
}

hr {
  color: #444;
}

#container {
  display: flex;
  flex-direction: column;
  width: min(600px, 100vw);
  margin: 0 auto;
}

#section-items > section {
  background: #222;
  height: 5px;
  overflow: hidden;
  transition: 0.2s ease-out;
}

label {
  margin: 5px;
  color: #999;
  font-size: 13px;
  line-height: 2.5;
}

#section-items > section.active {
  background: #222;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

#section-items > section > header {
	height: 10px;
	padding: 0;
	margin: -2px 2px 5px 2px;
	color: #888;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
}

.item-placement {
	padding: 5px;
	border-radius: 3px;
	display: inline;
	margin: 3px;
}

.item-inputs, .item-outputs {
  border-radius: 3px;
  margin: 2px 2px 20px 2px;
  background: #2a2a2a;
  border-color: #444;
  padding: 0;
}

.item-inputs section, .item-outputs section {
  margin: 5px;
  border-radius: 3px;
}

.input-enable, .input-disable, .output-enable, .output-disable {
	font-size: 11px;
	width: 200px;
}

input, select {
  background: #444;
  color: #fff;
  border: 1px solid #555;
  border-radius: 2px;
  margin: 2px;
  padding: 5px;
}

/*
input:focus {
  outline: none;
  background: #555;
  border: 1px solid #666;
}*/

input {
	outline: 0px solid var(--trans-hl);
}

input:focus {
	outline: 2px solid var(--trans-hl);
	background: #555;
	border: 1px solid var(--main-hl);
	transition: 0.1s linear;
}

button {
  background: #555;
  color: #fff;
  border: none;
  outline: 1px solid #777;
  border-radius: 1px;
  margin: 2px;
  padding: 2px 5px;
}

button:hover {
  background: var(--main-hl);
  color: #222;
  outline: 1px solid var(--main-hl);
}

button:disabled {
	background: #242424;
	border-color: #6a6a6a;
	color: #6a6a6a;
}



/* Custom checkboxes */

input[type="checkbox"] {
	appearance: none;
	width: 16px;
	height: 16px;
	margin-bottom: -4px;
	background: #222;
	border: 1px solid #666;
	border-radius: 2px;
	cursor: pointer;
	padding: 0;
}

input:checked {
	background: var(--main-hl);
	border: 1px solid #0000;
	font-size: 10px;
}

/* This doesn't work and I have no idea why. I'll re-enable it if I manage to fix it. */


input:checked::after {
	content: '\2713';
	font-size: 11px;
	margin-left: 3px;
	font-weight: bold;
	color: #222;
}

input:disabled {
	background: #252525;
	border-color: #333;
	color: #555;
}

#button-save {
	position: fixed;
	top: 15px;
	right: 15px;
	color: #fff3;
	font-size: 13px;
	transition: color 0.5s linear;
	cursor: not-allowed;
	user-select: none;
}

#button-save.needs-save {
	color: #fff6;
	cursor: pointer;
}
